* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sub-header {
    /* position: absolute; */
    width: 146px;
    height: 63px;
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 63px;
    color: #000000;
}
