* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 10px 10px 1rem 10px; /* Keep the bottom padding */
    min-height: 100vh; /* Ensure it’s at least full height */
    background-color: #f0f0f0; /* Debugging background */
    display: block; /* Remove flex to let content flow naturally */
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%; /* Ensure it fits within body */
    box-sizing: border-box; /* Include padding in width */
  }
  
  
  
  /* General Styles */
  .sub-header {
    font-family: "Permanent Marker", cursive;
    font-size: 34px;
    line-height: 63px;
    color: #000000;
  }
  
  /* Badge Styles */
  .badges-container {
    display: flex;
    justify-content: space-around;
    max-width: 70vw;
  }
  
  .general-badge-container h2 {
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    padding: 2rem 0.5rem;
    line-height: 16px;
    color: #5e5d5d;
  }
  
  .badge {
    font-weight: bold;
    padding: 2px 12px;
    width: 70px;
    height: 34px;
    border-radius: 4px;
  }
  
  .badge--square {
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  .badge--pill {
    border-radius: 9999px;
    cursor: pointer;
  }
  
  .badge--gray {
    background: #f3f4f6;
    color: #1f2937;
  }
  .badge--red {
    background: #fee2e2;
    color: #991b1b;
  }
  .badge--yellow {
    background: #fef3c7;
    color: #92400e;
  }
  .badge--green {
    background: #d1fae5;
    color: #065f46;
  }
  .badge--blue {
    background: #dbeafe;
    color: #1e40af;
  }
  .badge--indigo {
    background: #e0e7ff;
    color: #3730a3;
  }
  .badge--purple {
    background: #ede9fe;
    color: #5b21b6;
  }
  .badge--pink {
    background: #fce7f3;
    color: #9d174d;
  }
  
  /* Banner Styles */
  .banners-container h2 {
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #5e5d5d;
  }
  
  .banner {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    text-align: center;
    padding: 16px;
    gap: 12px;
    width: 896px;
    height: 80px;
    border-radius: 6px;
  }
  
  .banner__button {
    padding: 0;
    gap: 10px;
    width: 832px;
    height: 52px;
    flex: none;
    order: 1;
    flex-grow: 1;
    cursor: pointer;
  }
  
  .banner--success {
    background: #ecfdf5;
  }
  .banner--warning {
    background: #fffbeb;
  }
  .banner--error {
    background: #fef2f2;
  }
  .banner--neutral {
    background: #eff6ff;
  }
  
  .banner__button--success {
    background: #ecfdf5;
  }
  .banner__button--warning {
    background: #fffbeb;
  }
  .banner__button--error {
    background: #fef2f2;
  }
  .banner__button--neutral {
    background: #eff6ff;
  }
  
  .banner__title--success {
    color: #065f46;
  }
  .banner__title--warning {
    color: #92400e;
  }
  .banner__title--error {
    color: #92400e;
  }
  .banner__title--neutral {
    color: #1e40af;
  }
  
  .banner__button--success p {
    color: #047857;
  }
  .banner__button--warning p {
    color: #92400e;
  }
  .banner__button--error p {
    color: #b45309;
  }
  .banner__button--neutral p {
    color: #1c51b9;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container span {
    padding-left: 0.5rem;
  }
  
  /* Testimonial Styles */
  .testimonials {
    margin-bottom: 5rem;
  }
  
  .testimonial {
    border: 1px solid rgb(100, 95, 95);
    border-radius: 8px;
    padding: 10px;
  }

  .testimonial-container h3 {
    margin-top: 1rem;
  }
  
  .testimonial--with-pic {
    display: flex;
    align-items: center;
  }
  
  .testimonial--no-pic {
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    
  }
  
  .testimonial__image {
    width: 380px;
    display: inline-block;
  }
  
  .testimonial__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .testimonial__signature {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card Styles */
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px 32px;
    gap: 12px;
    width: 500px;
    height: 208px;
    background: #f9fafb;
    border: 1px solid rgb(100, 95, 95);
    border-radius: 8px;
  }
  
  .card__title {
    margin: 0;
  }